* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.primary-color {
  color: #fd6e0a;
}
nav ul {
  display: flex;
  height: 64px;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 40px;
}
.primary-btn {
  color: #fff;
  background-color: #fd6e0a;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 18px 36px;
  margin: 0;
  border-style: none;
  border-radius: 5px;
}

/* styling banner */
.banner {
  display: flex;
  margin-left: auto;
  background: white;
  background-image: url(portfolio-resources-main/images/header_bg.png),
    url(portfolio-resources-main/images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
.banner-subtitle {
  color: #474747;
  font-weight: 600;
  margin-bottom: 5px;
}
.banner-title {
  color: #181818;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
  height: 60px;
  width: 585px;
}
.secondary-btn {
  color: #fd6e0a;
  font-weight: 700;
  padding: 17px 36px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
}
#banner-image {
  max-width: 30%;
  height: 30%;
}
.about {
  margin: 130px 230px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
}
.section-title {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  margin-top: 130px;
  margin-bottom: 30px;
  text-align: center;
}
.section-description {
  margin-bottom: 30px;
  text-align: center;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  font-size: 20px;
  line-height: 30px;
}
.info-type {
  color: #757575;
  font-weight: 400;
}
.info-description {
  color: #474747;
  font-weight: 700;
}
.skills {
  margin: 130px 230px;
  padding: 130px 150px;
}
.skill-card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.card {
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.card img {
  margin-top: 30px;
}
.card-title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.card-description {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
  margin-top: 20px;
}
.resume {
  margin: 0 230px 0 230px;
}
.experience-container {
  display: flex;
  gap: 25px;
}
.experience-type {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-top: 130px;
}
.experience-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
}
.institute-name {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
hr {
  background: #d1d1d1;
  height: 1px;
}
.cv-button button {
  color: #fff;
  background-color: #fd6e0a;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 18px 36px;
  border-style: none;
  border-radius: 5px;
  margin-left: 690px;
  margin-top: 50px;
}
.contact {
  display: flex;
  background: #fff8f3;
  margin-top: 130px;
}
.contact div {
  width: 50%;
  margin: 0 230px 0 230px;
}
.social-icon {
  gap: 20px;
}
.contact-form {
}
.input {
  background: #fff;
  width: 100%;
}
